[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
sqlalchemy-cockroachdb = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sqlalchemy-utils = "*"
flask-restful = "*"
flask-marshmallow = "*"
flask-jwt-extended = "*"
marshmallow-sqlalchemy = "*"
geoalchemy2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
