.filterInputContainerDescription {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(144, 202, 228, 0.2);
    border-radius: 5px;
    cursor: pointer;
}
.filterTextInputDescription{
    background-color: rgba(144, 202, 228,0);
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.filterTextInputDescription::placeholder{
    color: rgb(192, 190, 190);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}