.filterInput{
    margin-right: 30px;
}
.filterInputHeader{
    padding: 0 5px;
    font-size: 15px;
    font-weight: bold;
}
.filterInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #FFF8F1;
    border-radius: 5px;
    cursor: pointer;
}
select{
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
    cursor: pointer;

    width: 100%;
}
.select{
    background-color:rgba(144, 202, 228, 0);
}
.blue{
    background-color:rgba(144, 202, 228, 0.2);
}
.filterInputDownIcon{
    margin-left: 15px;
    color: #F8B62C;
}
.colorBlue{
   color: #90CAE4
}